# gradle
.factorypath
.gradle/
build/
out/
classes/
run/
/common/logs/

# Java
replay_pid*.log

# eclipse
*.launch

# idea
.idea
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# Direnv
/.direnv/
